<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
  <title>Dining Management System</title>
  
</head>
<body>

             <form role="form" th:action="@{/diningmanagement}" th:object="${diningmanagement}" th:method="post">
                    
                    <div class="mbr-gallery-filter container gallery-filter-active">
                    <ul>
            
                    <li class="mbr-gallery-filter-all active">Meal Plans</li><li class="">Login</li><li class="">Sign up</li><li>About Us</li>
                    </ul>
                    </div>
    
       
            </form>

</body>
</html>
