<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
  <title>Dining Management System</title>
  
</head>
<body>

                <form role="form" th:action="@{/managerlogin}" th:object="${managerlogin}" th:method="post">
    
        <div class="container">

          <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-2">MANAGER LOGIN</h3>
                    <small class="mbr-section-subtitle"></small>
                </div>
            <div class="row row-sm-offset">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-4-name">Username<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="name" required="" data-form-field="Name" th:field="*{username}"/>
                                </div>
                            </div>
                        </div>
            <div class="row row-sm-offset">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-4-name">Password<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="name" required="" data-form-field="Name" th:field="*{password}"/>
                                </div>
                            </div>
                        </div>
                 
            <div class="row row-sm-offset">

                            <div class="col-xs-12">
                                <div class="form-group">
                                  
                                   <button type="submit" class="btn btn-primary"><span class="btn-text">SUBMIT</span><i class="btn-loader"></i></button>
                                </div>
                            </div>

                            

                            

                        </div>
            

        </div>
                </form>





  </body>
</html>
